
{{!-- About Section --}}
<section id="about" class="about section head-container  full-lg-screen">
    <article class="text-lg-right">
        <aside class="text-center text-lg-right">
            <h1>Elier Mercedes</h1>
             <h5>Software Developer</h5>
        </aside>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur, nisi ab aspernatur cum, earum harum quibusdam provident porro.</p>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur, nisi ab aspernatur cum, earum harum quibusdam provident porro.</p>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur, nisi ab aspernatur cum, earum harum quibusdam provident porro.</p>


        <div class="text-center text-lg-left">
            <a class="btn" href="https://tu-pdf-cv online.com" target="_blank" rel="noopener">Download my CV</a>
        </div>
    </article>

    <artcle>
    <img class="gray-scale" src="/assets/girl.png" alt="girl">
    </artcle>

    <artcle>
        <h2 class="text-center text-lg-left">My Skills</h2>
        <div class="progress">
            <p>
                <b>Developer <i>Web Frontend</i></b>
                <b>90%</b>
            </p>
            <progress value="90" min="0" max="100"></progress>
        </div>

          <div class="progress">
            <p>
                <b>Design<i>Web Design</i></b>
                <b>70%</b>
            </p>
            <progress value="70" min="0" max="100"></progress>
        </div>

          <div class="progress">
            <p>
                <b><i>WPO</i> y <i>SEO</i></b>
                <b>80%</b>
            </p>
            <progress value="80" min="0" max="100"></progress>
        </div>

          <div class="progress">
            <p>
                <b>Developer <i>Web Bakeend</i></b>
                <b>70%</b>
            </p>
            <progress value="70" min="0" max="100"></progress>
        </div>

          <div class="progress">
            <p>
                <b> <i>SocialMedia</i> y <i> Web Marketing</i></b>
                <b>70%</b>
            </p>
            <progress value="70" min="0" max="100"></progress>
        </div>

    </artcle>
</section>
