
<footer class="footer">
        <nav class="flex-container box-shadow">
            <ul id="f-menu" class="menu flex-content">
                <li class="flex-items" title="Displaying Content at the DOM"><a href="./exercises.html#dom-display-text">Dom Displaying Text</a></li>

                <li class="flex-items" title="Displaying Form Content at the DOM"><a href="./exercises.html#form-display-content">Form Displaying Content</a></li>

                <li class="flex-items">Article</li>
                <li class="flex-items">Article</li>
                <li class="flex-items">Article</li>
                <li class="flex-items">Article</li>
             
            </ul>
        </nav>

  <div class="creator">
      <small>Develeoped by ~ <a href="www.web-3.com"> Elier Mercedes</a> 
    <a href="#">Politica de cookies</a> 
    <a href="#">Politica de pricacidad</a>
      </small>
  </div>
</footer>