
<section id="cv" class="cv">
    <article class="hero-img" style="--hero-image:url('/assets/aerth.jfif'); --hero-attachment: fixed;">
        <aside class="hero-img-opacity" style="--hero-opacity-color: var(--black-alpha-color);">
            <div class="hero-img-content">
                <h2 class="hero-img-title" style="--hero-text-color:var(--white-color);">
                    Wellcome to My <br> Site
                 </h2>
                  <a href="#contactc" class="btn"> Contact Me</a>
            </div>
        </aside>
    </article>
</section>