{{!-- About Section --}}
<section id="projects" class="projects section head-container">
    <div class="head-container">
    <h2 class="section-title">Projects</h2>
    </div>

  <div class="projects-container full-lg-screen">
        <a href="#project-1" class="projects-card">
        <img src="/assets/portfolio-1.jpg" alt="project1">
        <aside class="projects-card-info">
           <div>
            <h3>Project 1</h3>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate aliquam dolores deleniti dolorum eligendi atque nostrum facilis nulla vitae repellat?</p>
           </div>
        </aside>
        </a>

      <a href="#project-2" class="projects-card">
        <img src="/assets/portfolio-2.jpg" alt="project1">
        <aside class="projects-card-info">
            <div>
            <h3>Project 2</h3>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate aliquam dolores deleniti dolorum eligendi atque nostrum facilis nulla vitae repellat?</p>
            </div>
        </aside>
        </a>

        <a href="#project-3" class="projects-card">
        <img src="/assets/portfolio-3.jpg" alt="project1">
        <aside class="projects-card-info">
            <div>
            <h3>Project 3</h3>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate aliquam dolores deleniti dolorum eligendi atque nostrum facilis nulla vitae repellat?</p>
            </div>
        </aside>
        </a>

        <a href="#project-4" class="projects-card">
        <img src="/assets/portfolio-4.jpg" alt="project1">
        <aside class="projects-card-info">
            <div>
            <h3>Project 4</h3>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate aliquam dolores deleniti dolorum eligendi atque nostrum facilis nulla vitae repellat?</p>
            </div>
        </aside>
        </a>

        <a href="#project-5" class="projects-card">
        <img src="/assets/portfolio-5.jpg" alt="project1">
        <aside class="projects-card-info">
           <div>
            <h3>Project 5</h3>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate aliquam dolores deleniti dolorum eligendi atque nostrum facilis nulla vitae repellat?</p>
           </div>
        </aside>
        </a>

        <a href="#project-6" class="projects-card">
        <img src="/assets/portfolio-6.jpg" alt="project1">
        <aside class="projects-card-info">
           <div>
            <h3>Project 6</h3>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate aliquam dolores deleniti dolorum eligendi atque nostrum facilis nulla vitae repellat?</p>
            </div>
        </aside>
        </a>
  </div>
</section>

{{!-- Ventan modal --}}
<article class="modal" id="project-1">
    <div class="modal-content">
        <a class="modal-close" href="#close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M16.207,14.793l-1.414,1.414L12,13.414 l-2.793,2.793l-1.414-1.414L10.586,12L7.793,9.207l1.414-1.414L12,10.586l2.793-2.793l1.414,1.414L13.414,12L16.207,14.793z"/></svg>
        </a>
        {{!-- Contenido del modal --}}
        <article class="project-modal">
            <img src="/assets/portfolio-1.jpg" alt="project-1">
            <div class="project-info">
                <h3>Project 1 Name</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, totam maiores. Cumque magnam vitae dicta repellendus, veniam temporibus laudantium eveniet.</p>
                <aside class="project-details">
                    <small><b>Client</b></small>
                    <small>Client Name</small>

                    <small><b>Date</b></small>
                      <small>30.01.2022</small>

                    <small><b>Type</b></small>
                    <small>Web Site</small>

                    <small><b>Link</b></small>
                      <small><a href="www.dominio.com" target="_blank" rel="noopener">See Project</a></small>
                </aside>
            </div>
        </article>

    </div>
</article>

<article class="modal" id="project-2">
    <div class="modal-content">
        <a class="modal-close" href="#close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M16.207,14.793l-1.414,1.414L12,13.414 l-2.793,2.793l-1.414-1.414L10.586,12L7.793,9.207l1.414-1.414L12,10.586l2.793-2.793l1.414,1.414L13.414,12L16.207,14.793z"/></svg>
        </a>
        
             {{!-- Contenido del modal --}}
        <article class="project-modal">
            <img src="/assets/portfolio-2.jpg" alt="project-2">
            <div class="project-info">
                <h3>Project 2 Name</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, totam maiores. Cumque magnam vitae dicta repellendus, veniam temporibus laudantium eveniet.</p>
                <aside class="project-details">
                    <small><b>Client</b></small>
                    <small>Client Name</small>

                    <small><b>Date</b></small>
                      <small>30.01.2022</small>

                    <small><b>Type</b></small>
                    <small>Web Site</small>

                    <small><b>Link</b></small>
                      <small><a href="www.dominio.com" target="_blank" rel="noopener">See Project</a></small>
                </aside>
            </div>
        </article>
    </div>
</article>

<article class="modal" id="project-3">
    <div class="modal-content">
        <a class="modal-close" href="#close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M16.207,14.793l-1.414,1.414L12,13.414 l-2.793,2.793l-1.414-1.414L10.586,12L7.793,9.207l1.414-1.414L12,10.586l2.793-2.793l1.414,1.414L13.414,12L16.207,14.793z"/></svg>
        </a>
        
             {{!-- Contenido del modal --}}
        <article class="project-modal">
            <img src="/assets/portfolio-3.jpg" alt="project-3">
            <div class="project-info">
                <h3>Project 3 Name</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, totam maiores. Cumque magnam vitae dicta repellendus, veniam temporibus laudantium eveniet.</p>
                <aside class="project-details">
                    <small><b>Client</b></small>
                    <small>Client Name</small>

                    <small><b>Date</b></small>
                      <small>30.01.2022</small>

                    <small><b>Type</b></small>
                    <small>Web Site</small>

                    <small><b>Link</b></small>
                      <small><a href="www.dominio.com" target="_blank" rel="noopener">See Project</a></small>
                </aside>
            </div>
        </article>
    </div>
</article>

<article class="modal" id="project-4">
    <div class="modal-content">
        <a class="modal-close" href="#close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M16.207,14.793l-1.414,1.414L12,13.414 l-2.793,2.793l-1.414-1.414L10.586,12L7.793,9.207l1.414-1.414L12,10.586l2.793-2.793l1.414,1.414L13.414,12L16.207,14.793z"/></svg>
        </a>
       
            {{!-- Contenido del modal --}}
        <article class="project-modal">
            <img src="/assets/portfolio-4.jpg" alt="project-4">
            <div class="project-info">
                <h3>Project 4 Name</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, totam maiores. Cumque magnam vitae dicta repellendus, veniam temporibus laudantium eveniet.</p>
                <aside class="project-details">
                    <small><b>Client</b></small>
                    <small>Client Name</small>

                    <small><b>Date</b></small>
                      <small>30.01.2022</small>

                    <small><b>Type</b></small>
                    <small>Web Site</small>

                    <small><b>Link</b></small>
                      <small><a href="www.dominio.com" target="_blank" rel="noopener">See Project</a></small>
                </aside>
            </div>
        </article>
    </div>
</article>

<article class="modal" id="project-5">
    <div class="modal-content">
        <a class="modal-close" href="#close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M16.207,14.793l-1.414,1.414L12,13.414 l-2.793,2.793l-1.414-1.414L10.586,12L7.793,9.207l1.414-1.414L12,10.586l2.793-2.793l1.414,1.414L13.414,12L16.207,14.793z"/></svg>
        </a>
        
             {{!-- Contenido del modal --}}
        <article class="project-modal">
            <img src="/assets/portfolio-5.jpg" alt="project-5">
            <div class="project-info">
                <h3>Project 5 Name</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, totam maiores. Cumque magnam vitae dicta repellendus, veniam temporibus laudantium eveniet.</p>
                <aside class="project-details">
                    <small><b>Client</b></small>
                    <small>Client Name</small>

                    <small><b>Date</b></small>
                      <small>30.01.2022</small>

                    <small><b>Type</b></small>
                    <small>Web Site</small>

                    <small><b>Link</b></small>
                      <small><a href="www.dominio.com" target="_blank" rel="noopener">See Project</a></small>
                </aside>
            </div>
        </article>
    </div>
</article>

<article class="modal" id="project-6">
    <div class="modal-content">
        <a class="modal-close" href="#close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M16.207,14.793l-1.414,1.414L12,13.414 l-2.793,2.793l-1.414-1.414L10.586,12L7.793,9.207l1.414-1.414L12,10.586l2.793-2.793l1.414,1.414L13.414,12L16.207,14.793z"/></svg>
        </a>
       
            {{!-- Contenido del modal --}}
        <article class="project-modal">
            <img src="/assets/portfolio-6.jpg" alt="project-6">
            <div class="project-info">
                <h3>Project 6 Name</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, totam maiores. Cumque magnam vitae dicta repellendus, veniam temporibus laudantium eveniet.</p>
                <aside class="project-details">
                    <small><b>Client</b></small>
                    <small>Client Name</small>

                    <small><b>Date</b></small>
                      <small>30.01.2022</small>

                    <small><b>Type</b></small>
                    <small>Web Site</small>

                    <small><b>Link</b></small>
                      <small><a href="www.dominio.com" target="_blank" rel="noopener">See Project</a></small>
                </aside>
            </div>
        </article>
    </div>
</article>